.header {
    padding: 0 1em;
    border-bottom: solid 1px #fff;
}

.container-list {
    margin: 1em 1em;
}

.tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    margin: 5px 0;
}

.tools > :first-child {
    flex: 0 0 30%;
}

.btn button {
    align-items: center;
    box-sizing: border-box;
    width: 100px;
    height: 50px;
    margin: 0 1em;
    text-align: center;
    font-weight:700;
    
}

.sort-options {
    align-items: center;
    width: 200px;
    margin: 0 1em 0 1em;
    padding: 0.1em 0.3em;
    height: 50px;
    border: none;
    border-radius: 8px;
    background-color: #ececec44;
    color: #000;
}

.search {
    display: flex;
    position: relative;
}

.search input {
    padding: 0.5em 1em;
    border: solid 2px transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;

    background: rgba(200, 201, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(212, 200, 255, 0.3);

    height: 30px;
    margin: 1em 1em;
}

.search input:focus, .search input:hover {
    outline: none;
    border-color: rgba(212, 200, 255, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
}

.table-wrap {
    overflow-x: auto;
}

table {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    border-collapse: collapse;
    border: solid 1px #fff;
    width: 100%;
    table-layout: fixed;

    background: #fff;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    -webkit-backdrop-filter: blur(5px);
}

/* .machine-table thead, .machine-table tbody {
    display: block;
} */

th, td {
    padding: 0.65rem 1rem;
}

tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.machine-head th:first-child {
    width: 30px;
    text-align: center;
}

.machine-body td {
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
}

.machine-head th:nth-child(1), .machine-body td:nth-child(1) {
    width: 50px;
    text-align: left;
}

.machine-head th:nth-child(2), .machine-body td:nth-child(2) {
    width: 120px;
    text-align: left;
}

.machine-head th:nth-child(3), .machine-body td:nth-child(3) {
    width: 150px;
    text-align: left;
}

.machine-head th:nth-child(4), .machine-body td:nth-child(4) {
    width: 150px;
    text-align: left;
}

.machine-head th:nth-child(5), .machine-body td:nth-child(5),
.machine-head th:nth-child(6), .machine-body td:nth-child(6) {
    width: 220px;
    text-align: left;
}

.machine-head th:nth-child(7), .machine-body td:nth-child(7) {
    width: 80px;
    text-align: center;
}

.machine-head th:nth-child(8), .machine-body td:nth-child(8) {
    width: 150px;
    text-align: center;
}

.machine-head th:nth-child(9), .machine-body td:nth-child(9) {
    width: 100px;
    text-align: center;
}

.machine-body {
    height: 800px;
    overflow-y: auto;
    /* overflow-x: auto; */
}

.actions {
    background-color: #fff;
    font-weight: 700;
    color: #000;    
    width: 100%;
    padding: 12px 40px 12px 15px;
    color: #333;
    border-radius: 8px;
    cursor: pointer;
    
    appearance: none;
}

.actions select {
    text-align: center;
}

.actions option {
    text-align: left;
}